* {
    box-sizing: border-box;
}

.allColumns {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

@media  screen and (max-width:768px) {
    .allColumns {
        width: 100%;
    }
}

h1 {
    color: #c4954e;
    text-align: center;
    font-size: 55px;
    padding: 25px;
}

h2 {
    color: #000000;
    text-align: center;
    font-size: 75px;
    background-color: #c4954e;
    width: 20%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

h3 {
    color: #fff;
    background-color: #fff;
    padding: 50px;

    
}

h5 {
    text-align: center;
    color: #000000;
    font-size: 100px;
    background-color: #c4954e;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
}

h6 {
    font-size: 50px;
    color: #000000;
    text-align: center;
    width: 18%;
    background-color: #f09000;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

u {
    font-size: 80px;
    color: #486906;
}

hr {
    background-color: #0af7f7;
    height: 15px;
}

img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 75px;
    color: #000000;
}

h4 {
    color: #000000;
    background-color: #dd9898;
    width: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 75px;
    border-radius: 25px;
    padding: 25px;
}

    
article {
    background-color: #ffffff;
    text-align: center;
    font-size: 100%;
}

b {
    background-color: #fff;
}

footer  {
      width: 100%;
      font-size: 45px;
      background-color: #c4954e;
      text-align: center;
      padding: 25px;
}







@import url('https://fonts.googleapis.com/css2?family=avenir:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppin", sans-serif;
}
body {
    min-height: 100%;
    background: #fff;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 35px;
}

.logo .menu-icon {
    color: #000000;
    font-size: 80px;
    margin-left: 180px;
    cursor: pointer;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 80%;
    width: 750px;
    padding: 30px 0;
    background-color: gray;
    transition: all 0.4s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

nav.open .sidebar {
       left: 0;


}
.sidebar .sidebar-content {
    padding: 40px 20px;
}
.sidebar-content .list {
    list-style: none;
    padding-left: 35px;
}

.list .nav-link {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    text-decoration: none;
    border-radius: 25px;
}

.nav-link:hover {
    background-color:#71712f;
}

.nav-link:hover .icon,
.nav-link:hover .link {
    background-color:#71712f;
    transition: 0.4s ease;
}

.nav-link .icon {
    margin-right: 16px ;
    font-size: 50px;
    color: #000000;
}

.nav-link .link {
    font-size: 40px;
    color: #000000;
    font-weight: 500;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.2);
}

nav.open ~ .overlay {
    opacity: -1;
    left: 450px;
    pointer-events: auto;
}

